<html>
    <title>Đăng ký theo dõi vị trí định vị</title>
    <body>
        <form method="POST" action="/register">
            <div><h1>Đăng ký</h1></div>
            <div>
                <lable>
                Tên người đăng ký: <input name="ip-id" type="text" value="thang"/>
                </lable>
            </div>
            <div><button type="submit">Register</button></div>
        </form>
    </body>
</html>