<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Thông tin vị trí định vị</title>
    </head>
    
    <body>
        <form method="POST" action="" onsubmit="return false;">
            <div><h1>Thông tin vị trí định vị</h1></div>
            <div>
                <lable>
                Tên người định vị: <input class="ip-id" type="text" value="thang"/>
                </lable>
            </div>
            <div><button class="btn-show" type="button">Xem</button></div>
        </form>
    </body>

    <script>
        $('.btn-show').on('click', function (event) {
            let data = {
                id: $('.ip-id').val()
            }
            window.location.href = '/show-location?id=' + data.id;
            return false;
        })
    </script>
</html>